html,
body {
	min-height: 100%;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

.header {
	margin: 0 auto;
	padding: 0;
}

.main {
    position: absolute;
	flex: 1 0 100%;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1223px;
	padding: 0px 25px;
	@include adaptive-value("margin-left", 122, 0);
}

title {
	display: block;
}